# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [21]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [3]:
df = pd.read_csv(url, delimiter='\t')
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = df

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
# Solution 1
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [7]:
# Solution 2
chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [8]:
chipo.shape

(4622, 5)

### Step 7. Print the name of all the columns.

In [9]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [10]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [11]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values('quantity', ascending = False)
c.head()

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506
Steak Burrito          328437       386
Canned Soft Drink      304753       351

### Step 10. For the most-ordered item, how many items were ordered?

In [12]:
c.quantity[0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [13]:
c = chipo.groupby('choice_description')
c = c.sum()
c = c.sort_values('quantity', ascending = False)
c.head()

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42

### Step 12. How many items were orderd in total?

In [14]:
c.quantity.sum()

3590

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [15]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [16]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [17]:
# Solution 1
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

#### Step 13.c. Check the item price type

In [19]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [22]:
revenue = (chipo['quantity']* chipo['item_price']).sum()
print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [24]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [27]:
# Solution 1
amount_order = list(set(chipo.order_id))
amount_order[-1]

1834

In [35]:
# Solution 2
amount_order = chipo.order_id.value_counts().count()
amount_order

1834

### Step 16. What is the average revenue amount per order?

In [48]:
# Solution 1
chipo['revenue'] = chipo['quantity']* chipo['item_price']
chipo_group_by_revenue = chipo.groupby('order_id').sum()
chipo_group_by_revenue

          quantity  item_price  revenue
order_id
1                4       11.56    11.56
2                2       16.98    33.96
3                2       12.67    12.67
4                2       21.00    21.00
5                2       13.70    13.70
6                2       17.50    17.50
7                2       15.70    15.70
8                2       10.88    10.88
9                3       10.67    12.85
10               2       13.20    13.20
11               2       12.38    12.38
12               2       14.37    14.37
13               2       10.88    10.88
14               2       10.08    10.08
15               2       10.88    10.88
16               2       10.68    10.68
17               2       10.08    10.08
18               4       24.90    24.90
19               2       13.90    13.90
20               4       36.20    36.20
21               3       23.36    23.36
22               2       12.98    12.98
23               3       11.17    13.35
24               2       12.07    12.07
25               2       11.38    11.38
26               2       20.50    20.50
27               2       13.90    13.90
28               4       33.70    33.70
29               2       17.98    17.98
30               3       23.36    23.36
...            ...         ...      ...
1805             2       20.00    20.00
1806             4       13.00    13.00
1807             2       18.64    18.64
1808             2       13.70    13.70
1809             3       14.45    14.45
1810             2       23.00    23.00
1811             3       29.25    29.25
1812             4       22.50    25.00
1813             2       17.50    35.00
1814             2       13.70    13.70
1815             2       12.50    12.50
1816             2       13.20    13.20
1817             4       13.00    13.00
1818             2       18.14    18.14
1819             2       13.20    13.20
1820             2       12.50    12.50
1821             2       13.70    13.70
1822             4       23.00    26.00
1823             3       12.15    12.15
1824             3       26.95    26.95
1825             6       66.50    66.50
1826             4       15.95    15.95
1827             5       32.95    32.95
1828             3       14.45    14.45
1829             3       24.25    24.25
1830             2       23.00    23.00
1831             3       12.90    12.90
1832             2       13.20    13.20
1833             2       23.50    23.50
1834             3       28.75    28.75

[1834 rows x 3 columns]

In [49]:
chipo_group_by_revenue.mean()['revenue']

21.394231188658654

In [50]:
# Solution 2
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

chipo.item_name.value_counts().count()